<html>
    <body>
        <form action="/login" method="POST"> 
            <input name="email" type="text" >
            <input name="password" type="text" >
            <input type="submit" value="Register">
        </form>
    </body>
</html>